* {
    margin: 0 auto;
    padding: 0;
}

#header #navbar {   
    position: fixed;
    width: 100vw;
    background: rgba(26, 94, 110, 0.8);
}

#header nav ul li {
    list-style: none;
    padding: 2% 3% 0;
    float: right;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    float: left;
}

.clearFloat {
    clear: both;
}

#welcome-section {
    background: url("images/woman-1807533_1280.jpg") center center fixed;
    background-size: cover;
    height: 30vh;
    padding-top: 70vh;
}

#welcome-section h1 {
    color: white;
    background: rgba(26, 94, 110, 0.8);
    padding: 2%;
    margin: 1%;
    width: fit-content;
    border-radius: 5px;
    font-size: 200%;
}

#projects {
    text-align: center;
    margin: 2% 0;
}

h2 {
    color: rgb(26, 94, 110);
    margin: 3% 0 2%;
    text-align: center;
    font-size: 250%;
}

p {
    margin-bottom: 2%;
}

p, li {
    font-size: 125%;
}

.justifyLeft li {
    text-align: left;
    list-style: disc;
    margin-left: 2vw;
    margin-bottom: 2%;
    line-height: 152%;
}


.floatRight {
    padding-top: 1%;
    margin-top: 1%;
    float: right;
    width: 48vw;
    background: linear-gradient(to bottom right, peru 20%, burlywood 20%, white);
    /* background: repeating-linear-gradient(-45deg, peru 25px, white 5px, burlywood 80%); */
}

.floatLeft {
    padding-top: 1%;
    margin-top: 1%;
    float: left;
    width: 48vw;
    background: linear-gradient(to bottom right, peru 20%, burlywood 20%, white);
}
.project-tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

article img {
    border-radius: 5%;
}
footer {
    background: rgba(26, 94, 110, 0.8);
    color: white;
    text-align: center;
    padding: 2%;
}