* {
    margin: 0 auto;
    padding: 0;
}

#header #navbar {   
    position: fixed;
    width: 100vw;
    background: rgba(26, 94, 110, 0.8);
}

#header nav ul li {
    list-style: none;
    padding: 2% 3% 0;
    float: right;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    float: left;
}

.clearFloat {
    clear: both;
}

#welcome-section {
    background: url("images/woman-1807533_1280.jpg") center center fixed;
    background-size: cover;
    height: 45vh;
    padding-top: 55vh;
}

#welcome-section h1 {
    color: white;
    background: rgba(26, 94, 110, 0.8);
    padding: 2%;
    margin: 1%;
    width: fit-content;
    border-radius: 5px;
}

#projects {
    text-align: center;
    margin: 2% 0;
}

h2 {
    color: rgb(26, 94, 110);
    margin: 3% 0 2%;
    text-align: center;
}

p {
    margin-bottom: 2%;
}

.justifyLeft li {
    text-align: left;
    list-style: disc;
    margin-left: 4%;
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border-radius: 50%; */
}

article img {
    border-radius: 5%;
}
footer {
    background: rgba(26, 94, 110, 0.8);
    color: white;
    text-align: center;
    padding: 2%;
}